<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    div.wrapper
      ul#tab-group-1.tab-group
        li
          a(href="#tab1") Lets
        li
          a(href="#tab2") Animate
        li
          a(href="#tab3") These
        li
          a(href="#tab4") Tabs

      div.tab-content
        div#tab1
          h1 Title 1
          p Some content here
        div#tab2
          h1 Title 2
          p Some content here
        div#tab3
          h1 Title 3
          p Some content here
        div#tab4
          h1 Title 4
          p Some content here

    script(src="js/bundle.min.js")
