ul,
li,
a,
p,
h1, h2, h3
  margin: 0
  padding: 0

.tab-group
  margin-bottom: 12px
  display: flex
  flex-direction: row
  list-style: none
  width: 100%
  justify-content: space-around
  li
    position: relative
    cursor: pointer
  p
    position: relative
    z-index: 1;
    text-decoration: none
    color: white

.wrapper
  max-width: 800px
  position: absolute
  top: 12px
  right: 0
  left: 0
  margin: 0 auto

@import 'content'
@import 'tabgroup0'
@import 'tabgroup1'
@import 'tabgroup2'
